/* h1, h2 {} = (tanda coma berfungsi untuk separator atau jeda untuk memberi style color jika stylenya sama) */
/* separator spasi (ul li a(membacanya "tolong berikan style kepada a yg terdapat pada li dan terdapat pada ul") {}) = separator spasi berfungsi untuk mengurutkan letak yg akan diberi style*/
/* di dalam sebuah class bisa ditambahkan class lain untuk menambahkan style. contoh : <p class"p1 cetak-tebal"> */
/* pada saat styling di css bisa juga menambahkan seperti ini : p.cetak-tebal {} = disitu bisa dibaca css tolong berikan style kepada p yang memiliki class cetak-tebal */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color:rgb(25, 55, 55);
}

a {
    text-decoration: none;
}

ul li a {
    color: red;
}

ol li a {
    color: blueviolet;
}

#p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: royalblue;
}

p.bold {
    font-weight: bold;
}

.p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifz;
}